*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target
project/project

# IntelliJ
.scala_dependencies
.worksheet
.idea/*
.idea
.bsp

# Mac
.DS_Store
.java-version
